# build output
dist/
.vercel/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.production
.env.local
.envrc

# editors
.vscode/
.idea/
.DS_Store

# claude-code local working dir
.claude/

# astro
.astro/
